<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<form align = "right" action="/auth/logout" method = "POST">
  <button type = "submit">Logout</button>
</form>
<h1 align="center">Update User</h1>
<form align="center" id="edit-form" th:action = "@{/admin/update/{id} (id = ${userEdit.getId()})}" th:object = "${userEdit}" th:method = "patch">
  <div class = "row">
    <label>ID:&nbsp;</label>
    <input type = "number" th:field = "*{id}" readonly/>
    <label>Name:&nbsp;</label>
    <input type = "text" th:field = "*{firstName}"/>
    <label>Last Name:&nbsp;</label>
    <input type = "text" th:field = "*{lastName}"/>
    <label>E-mail:&nbsp;</label>
    <input type = "text" th:field = "*{email}"/>
    <label>Password:&nbsp;</label>
    <input type = "password" th:field = "*{password}"/>
    <label>Role:&nbsp;</label>
    <input type = "text" th:value = "${roleEdit}" name="roleEdit"/>
  </div>
  <h1></h1>
  <div class = "row">
    <button id = "edit" type = "submit">Update user</button>
  </div>
</form>
</body>
</html>