<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>
<form align = "right" action="/auth/logout" method = "POST">
  <button type = "submit">Logout</button>
</form>
<h1 align="center">Register User</h1>
<form align="center" id="reg-form" th:action = "@{/auth/registration/}" th:object = ${user} th:method = "post">
  <div class = "row">
    <label>Name:&nbsp;</label>
    <input type = "text" th:field = "*{firstName}" name="firstName"/>
    <label>Last Name:&nbsp;</label>
    <input type = "text" th:field = "*{lastName}" name="lastName"/>
    <label>E-mail:&nbsp;</label>
    <input type = "text" th:field = "*{email}" name="email"/>
    <label>Password:&nbsp;</label>
    <input type = "password" th:field = "*{password}" name="password"/>
    <label>Role:&nbsp;</label>
    <input type = "text" th:value = "${roleName}" name="roleName"/>
  </div>
  <h1></h1>
  <div class = "row">
    <button id = "edit" type = "submit">Register user</button>
  </div>
</form>
</body>
</html>